@font-face {
  font-family: 'Minion Pro Regular';
  src: url('../fonts/MinionPro-Regular.eotMinionPro-Regular.eot');
  src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Regular.woff') format('woff'),
    url('../fonts/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web Semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Malaga Regular Italic';
  src: url('../fonts/MalagaNarrowOT-RegItalic.eot');
  src: url('../fonts/MalagaNarrowOT-RegItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MalagaNarrowOT-RegItalic.woff') format('woff'),
  url('../fonts/MalagaNarrowOT-RegItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Malaga Regular Medium Italic';
  src: url('../fonts/MalagaOT-MedItalic.eot');
  src: url('../fonts/MalagaOT-MedItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MalagaOT-MedItalic.woff') format('woff'),
  url('../fonts/MalagaOT-MedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

