*
  box-sizing: border-box

body  
  align-items: center
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  margin-top: 100px 

header
  width: 1370px
  height: 40px
  margin: 0 auto 20px
  font-size: 24px
  padding: 5px 0 5px 60px
  background-color: rgba(202, 196, 176, 0.2)
  border-radius: 30px

.menu-icon
  width: 20px
  position: relative
  top: -22px
  left: -35px
  & > .line 
    background-color: #292929
    height: 2px
    display: block

.menu-icon > .line + .line 
    margin-top: 5px

.menu-square
  top: -37px
  left: 1280px

.line__square
  width: 6px
  
.container
  display: flex
  justify-content: center
  width: 1370px
  height: 731px
  margin: 0 auto

.pallete
  &__panel
    width: 228px
    margin-right: 25px
  &__tools
    height: 200px
    margin-bottom: 50px
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    background-color: rgba(202, 196, 176, 0.2)
    border-radius: 10%
  &__colors
    height: 295x
    box-shadow: 0 0 5px rgba(0,0,0,0.3)
    background-color: rgba(202, 196, 176, 0.3)
    border-radius: 25px
  &__canvas
    width: 100%
    display: flex
    justify-content: flex-end
    border: 1px solid

.canvas
  &__wrapper
    width: 746px
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    border: 1px solid

.tools
  &__list
    position: relative
    display: flex
    align-items: center
    width: 185px
    height: 48px
    margin-left: 20px
    &:first-child::before
      content: ""
      display: block
      width: 90%
      height: 1px
      top: 98px
      position: absolute
      background-color: rgba(100, 115, 151, 0.3)
    &__image
      width: 24px
      height: 24px
      margin-right: 32px
      background-repeat: no-repeat
      &-1
        background: url("img/bucket.png")
        background-size: 24px 24px
      &-2
        background: url("img/art.png")
        background-size: 24px 24px
      &-3
        background: url("img/move (2).png")
        background-size: 24px 24px
      &-4
        background: url("img/move (1).png")
        background-size: 24px 24px
    &__color
      border: 1px solid
      border-radius: 50%
      height: 
      &-1
        background-color: #8B8C7A
      &-2
        background-color: #99FF99
      &-3
        background-color: #8B0000
      &-4
        background-color: #77DDE7
      &-5
        background-color: #8B8C7A
      &-6
        background-color: #99FF99
      &-7
        background-color: #35170C
      &-8
        background-color: #000000
      &-9
        background-color: #FF6800
      &-10
        background-color: #CD00CD

.item
  height: 238px
  width: 238px
  position: relative
  background-color: #8B8C7A
  margin: 2.5px 5px 2.5px
        
  
  